/**/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 239, 247);
    margin: 0;
    padding: 0;
}
/*COMMENT HERE*/
* {
    box-sizing: border-box;
}

main {
    padding: 1rem 5rem;
}
/*for the register html and admin html*/
/*stylig for the header*/
#Hogskolen {
    background-color: rgb(69, 154, 187);
    color: white;
    padding-block: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
}

/*for the admin html sheet for the fill out form*/
/*form styling*/
#infoSheet {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 1.5rem;
}

/*for section*/
#infoSheet section {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/*for section + input,select and label*/
#infoSheet section input,
#infoSheet section select,
#infoSheet section label {
    flex-basis: 40%;
    display: inline-block;
    padding: 0.2rem;
}

#infoSheet section select,
#infoSheet section input {
    background-color: white;
}

/*for the button on the form in admin html*/
#infoSheet button {
    padding: 0.5rem;
    width: 50%;
    margin: 1rem;
    background-color: rgb(194, 227, 241);
    border: 1px rgb(68, 157, 192) solid;
    border-radius: 5px;
}

#infoSheet button:hover {
    border-radius: 5px rgb(68, 147, 192) solid;
    background-color: rgb(133, 191, 220);
}

/*for the register html and admin html*/
/*for the button in the menu at the top*/
.menu-sortBT button {
    all:unset;
    border: 1px rgb(68, 157, 192) solid;
    border-radius: 5px;
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: rgb(194, 227, 241);
    margin-inline: 0.3rem;
    padding-inline: 0.5rem;
}

.menu-sortBT button:hover {
    border-radius: 5px rgb(68, 147, 192) solid;
    background-color: rgb(133, 191, 220);
}
/*for the general layout*/
.menu-sortBT {
    display: flex;
    flex-flow: row wrap;
}
/*for the register html and the admin html*/
/*this is for the styling of the employee list and how it behaves*/
#employees-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    gap: 1rem;
    padding-top: 1rem;
}

#employees-list article {
    border: 1.5px solid rgb(207, 207, 207);
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}

#employees-list > article button {
    all:unset;
    border: 1px rgb(68, 157, 192) solid;
    border-radius: 5px;
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: rgb(194, 227, 241);
    margin-inline: 0.3rem;
    padding-inline: 0.5rem;
}

#employees-list > article button:hover {
    border-radius: 5px rgb(68, 147, 192) solid;
    background-color: rgb(133, 191, 220);
}

/*for the register html and the admin html*/
/*this is for the styling of the course overview at the bottom of the site*/
#all-courses-list {
    padding: 0.5rem;
}

#all-courses-list ul {
    padding: 0.5rem;
}

#all-courses-list li {
    padding: 0.5rem;
}



